@import url('default.css');

.container_menu{
    background-color: var(--color-darklategray);
    width: 260px;
    height: 100vh;
}

.menu_painel{
    padding-top: 20px;
    font-size: 18px;
}

.menu_painel li a{
    color: var(--color-white);
    padding: 13px;
    border-bottom: 1px solid var(--color-darklategray);
}

.menu_painel li a i{
    font-size: 22px;
}

.menu_painel li a:hover{
    background-color: var(--color-darkorange);
    color: var(--color-white);
}

.menu_painel li .active{
    background-color: var(--color-darkorange);
    color: var(--color-white);
}

.photo_user img{
    width: 115px;
    height: 110px;
    margin-bottom: 15px;
}
.user{
    color: var(--color-white);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    font-size: 18px;
}

/* ================== CONTAINER PAINEL ================================= */

.container_painel{
    background-color: #f7f7f7;
    width: 77%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

